Tests/Books.Client/Service References/BookReference/BooksService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BooksService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35024/BookService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35024/BookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35024/BookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Books.Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBooks_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IBooks_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBooks_GetBooksMultiThread_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksMultiThread" />
  </wsdl:message>
  <wsdl:message name="IBooks_GetBooksMultiThread_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksMultiThreadResponse" />
  </wsdl:message>
  <wsdl:portType name="IBooks">
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBooks/GetBooks" message="tns:IBooks_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBooks/GetBooksResponse" message="tns:IBooks_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksMultiThread">
      <wsdl:input wsaw:Action="http://tempuri.org/IBooks/GetBooksMultiThread" message="tns:IBooks_GetBooksMultiThread_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBooks/GetBooksMultiThreadResponse" message="tns:IBooks_GetBooksMultiThread_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBooks" type="tns:IBooks">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IBooks/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksMultiThread">
      <soap:operation soapAction="http://tempuri.org/IBooks/GetBooksMultiThread" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BooksService">
    <wsdl:port name="BasicHttpBinding_IBooks" binding="tns:BasicHttpBinding_IBooks">
      <soap:address location="http://localhost:35024/BookService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>